
    .hero {
      background-image: url('https://source.unsplash.com/1600x600/?food,dish');
      background-size: cover;
      background-position: center;
      height: 600px;
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
    }
    .hero h1 {
      font-size: 4rem;
    }
    .footer {
      background: #333;
      color: #fff;
      padding: 20px;
    }
    .footer a {
      color: #fff;
      margin-left: 10px;
    }

/* jumbotron */
    .jumbotron-image {
      background: url('./pictures/pexels-diego-cancino-467067322-32689263.jpg') no-repeat center center;
      background-size: cover;
      height: 400px;
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
    }

    .jumbotron-overlay {
      background-color: rgba(0, 0, 0, 0.5); /* semi-transparent overlay */
      padding: 2rem;
      border-radius: 10px;
    }
